p, a, div, h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: #413E3A;
  font-weight: 500;
}

.page-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container {
  width: 1420px;
}

.navigation a, .navigation {
  color: #817E7A;
  font-size: 14px;
  font-weight: 500;
}

.navigation {
  margin-bottom: 35px;
  margin-top: 30px;
}

h1 {
  font-size: 45px;
  font-weight: 500;
}

/* Строчка с этапами */

.string {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 65px;
}

.stages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stages-container p {
  font-size: 16px;
  font-weight: 600;
  color: #C4C4C4;
  margin-right: 10px;
}

.stages-container p:last-child {
  margin-right: 0px;
}

.stages-container .active {
  color: #413E3A;
}

.clear-button {
  width: 220px;
  height: 36px;
  border: solid #C4C4C4 1px;
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 500;
}

/* Кнопки количества, сумма */
.price-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* margin-bottom: 18px; */
}

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 69px;
  height: 24px;
}

.amount-button {
  width: 24px;
  height: 24px;
  border: solid 1px #BF9D5B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-sum, .amount p {
  font-size: 16px;
}


/* Сетка товара */

.cart-item {
  display: -ms-grid;
  display: grid;
      grid-template-areas:
  "table-a X X table-b table-c table-d X1"
  "line-a line-a line-a line-a line-a line-a line-a"
  "X2 pic X3 X3 X3 X3 X3"
  "X2 pic header amount cost sum close"
  "X2 pic info X4 X4 X4 X4"
  "line-b line-b line-b line-b line-b line-b line-b"
  "X5 X5 X5 total-text total-text total-sum X6";
  -ms-grid-columns: 65px 175px 720px 123px 123px 160px;
  grid-template-columns: 65px 175px 720px 123px 123px 160px;
  -ms-grid-rows: 25px 35px 50px 46px 132px 1px auto;
  grid-template-rows: 25px 35px 50px 46px 132px 1px auto;
  /* margin-top: 65px; */
}

.table-product {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: table-a;
}

.table-number {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: table-b;
}

.table-cost {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: table-c;
}

.table-sum {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: table-d;
}

.item-pic {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: pic;
}

.item-header {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: header;
}

.amount {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: amount;
}

.item-cost {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: cost;
}

.item-sum {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
  grid-area: sum;
}

.item-close {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
  grid-area: close;
}

.item-info {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: info;
}

.total-sum-text {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: total-text;
}

.total-sum {
  -ms-grid-row: 7;
  -ms-grid-column: 6;
  grid-area: total-sum;
}

.line-top {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: line-a;
}
.line-bottom {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: line-b;
}

/* Информация о товаре */

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* width: 557px; */
  height: 41px;
}

.info-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}


/*  */
.in-stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* Шрифты */

.table {
  font-size: 14px;
  font-weight: 500;
  color: #C4C4C4;
}

.item-header h1 {
  font-size: 20px;
  font-weight: 500;
}
.in-stock p {
  color: #6FCF97;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  margin-left: 7px;

}

.info-element p {
  font-size: 14px;
  font-weight: 400;
}

.amount p, .item-cost, .total-sum-text {
  font-size: 16px;
  font-weight: 500;
}

.item-sum {
  font-size: 18px;
  font-weight: 600;
}

.total-sum {
  font-size: 24px;
  font-weight: 600;
  height: 50px;
  padding-top: 24px;
}
/* /шрифты */
/* полосы */

.line-bottom, .line-top {
  border-top: 1px solid #E0E0E0;
}

/* Позиционирование */
.item-header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}

.item-info {
  margin-top: 25px;
  height: 36px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-color {
  width: 15px;
  height: 15px;
  background-color: #BF9D5B;
}

.info-element p {
  margin-right: 8px;
}

.total-sum-text, .total-sum {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}



.table, .line-top, .total-sum, .total-sum-text {
  display: none;
}


.cart-item:first-child .table,
.cart-item:first-child .line-top {
  display: block;
}

.cart-item:last-child .total-sum,
.cart-item:last-child .total-sum-text  {
  display: block;
}

/* Кнопки */

.button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 120px;
}

.button-container button {
  width: 220px;
  height: 52px;
  background-color: #BF9D5B;
  color: #FFFFFF;
}

.grey-button {
  background-color: #C4C4C4!important;
}


/*  */
