.page-container {
  width: 100%;
  height: 515px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url('../pic/thank/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  width: 470px;
  height: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  background-color: #FFFFFF;
  padding: 85px 0px;
}

h1 {
  font-weight: 500;
  font-size: 30px;
}

.thank-button {
  width: 217px;
  height: 52px;
  background-color: #BF9D5B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.thank-button p {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
}

.thank-button a {
  display: block;
  position: absolute;
  width: 217px;
  height: 52px;
}
