@media (min-width: 1000px) and (max-width: 1920px) {

  .content-container {
    width: 100%;
    max-width: 1600px;
    padding: 0px 20px;
  }

  .contacts-container {
    -ms-grid-columns: 48.8% 48.8%;
    grid-template-columns: 48.8% 48.8%;
    grid-row: 133px 498px;
  }
}


@media (min-width: 768px) and (max-width: 1000px) {
  .content-container {
    width: 100%;
    padding: 0px 20px;
  }

  .contacts-container {
        grid-template-areas:
    "A"
    "B"
    "C";
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 243px 128px 503px;
    grid-template-rows: 243px 128px 503px;
  }

  .info-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px 40px 30px 40px;
  }

  .info-item:first-child {
    width: 320px;
  }

  .gold-line {
    margin-top: 34px;
    padding-top: 18px;
  }

  .address-block {
    margin-bottom: 28px;
  }

  .connect-block .social-container {
    width:  auto;
  }

}


@media (min-width: 480px) and (max-width: 768px) {
  .content-container {
    width: 100%;
    padding: 0px 20px;
  }

  .contacts-container {
        grid-template-areas:
    "A"
    "B"
    "C";
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 491px 235px 373px;
    grid-template-rows: 491px 235px 373px;
  }

  .info-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 77px 39px 57px;
  }

  .info-item:first-child {
    width: 320px;
  }

  .gold-line {
    margin-top: 34px;
    padding-top: 18px;
  }

  .address-block {
    margin-bottom: 28px;
  }

  .connect-block .social-container {
    width: auto;
  }

  .connect-block .call-us-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
  }

  .connect-block .feedback-button {
    width: 180px;
  }

  .connect-block .call-us-container {
    position: static;
  }

  .connect-block {
    padding-left: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

}


@media (max-width: 480px) {
  .content-container {
    width: 100%;
    padding: 0px 20px;
  }

  .contacts-container {
        grid-template-areas:
    "A"
    "B"
    "C";
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 459px 224px 406px;
    grid-template-rows: 459px 224px 406px;
  }

  .info-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 27px 11px 32px 19px;
  }

  .info-item:first-child {
    /* width: 320px; */
  }

  .gold-line {
    margin-top: 34px;
    padding-top: 18px;
  }

  .address-block {
    margin-bottom: 28px;
  }

  .connect-block .social-container {
    width: auto;
  }

  .connect-block .call-us-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
  }

  .connect-block .feedback-button {
    width: 180px;
  }

  .connect-block .call-us-container {
    position: static;
  }

  .connect-block {
    padding-left: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }


  .contacts-container h2 {
    font-size: 24px;
  }

  .info-item p {
    font-size: 16px;
  }

  h1 {
    font-size: 32px;
  }
}
