@media (min-width: 1000px) and (max-width: 1920px) {

  .content-container {
    width: 100%;
    padding: 0px 20px;
  }

  .catalog-navigation {
    display: none;
  }

  .news-item {
    width: 100%;
    max-width: 600px;
  }

  .news-item img {
    width: 100%;
    height: 394px;
    margin-bottom: 20px;
  }

  .news-container .items-container {
    -ms-grid-columns: 49% 49%;
    grid-template-columns: 49% 49%;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    margin-bottom: 120px;
  }

  .news-container .items-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .news-container .items-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .news-container .items-container > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .news-container .items-container > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .articles-container .items-container {
    -ms-grid-columns: 49% 49%;
    grid-template-columns: 49% 49%;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    margin-bottom: 120px;
  }

  .articles-container .items-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .articles-container .items-container > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .articles-container .items-container > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .articles-container .items-container > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }

}


@media (min-width: 768px) and (max-width: 1000px) {

  .content-container {
    width: 100%;
    padding: 0px 20px;
  }

  .catalog-navigation {
    display: none;
  }

  .news-item {
    width: 100%;
  }

  .news-item img {
    width: 100%;
    height: 378px;
    margin-bottom: 20px;
  }

  .news-container .items-container {
    -ms-grid-columns: 49% 49%;
    grid-template-columns: 49% 49%;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    margin-bottom: 120px;
  }

  .news-container .items-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .news-container .items-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .news-container .items-container > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .news-container .items-container > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .articles-container .items-container {
    -ms-grid-columns: 49% 49%;
    grid-template-columns: 49% 49%;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    margin-bottom: 120px;
  }

  .articles-container .items-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .articles-container .items-container > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .articles-container .items-container > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .articles-container .items-container > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }

}


@media (max-width: 768px) {

  .content-container {
    width: 100%;
    padding: 0px 20px;
  }

  .catalog-navigation {
    display: none;
  }

  .news-item {
    width: 100%;
  }

  .news-item img {
    width: 100%;
    height: 388px;
    margin-bottom: 20px;
  }

  .news-container .items-container {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    margin-bottom: 120px;
  }

  .news-container .items-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .news-container .items-container > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .news-container .items-container > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .news-container .items-container > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .articles-container .items-container {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: (auto)[8];
    grid-template-rows: repeat(8, auto);
    justify-items: center;
    margin-bottom: 120px;
  }

  .articles-container .items-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }

  .articles-container .items-container > *:nth-child(8) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }

  .news-item h2 {
    font-size: 18px;
  }

  .news-item p {
    font-size: 16px;
  }

  .news-item a {
    font-size: 14px;
  }

}

@media (max-width: 480px) {

  .news-item img {
    height: 362px;
  }

  h1 {
    font-size: 32px;
  }

}
