@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans&display=swap');


div {
  margin-top: 100px;
  color: white;
  transform: rotate(-90deg);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 50px;
  /* border: solid 1px grey; */
  text-shadow: 1px 0 1px red,
              0 1px 1px red,
              -1px 0 1px red,
              0 -1px 1px red;
}
