@media (min-width: 1000px) and (max-width: 1920px) {
.content-container {
    width: 100%;
    padding: 0 20px;
    max-width: 1200px;
}

.card-product-container {
  -ms-grid-rows: auto 50px auto 50px auto 50px auto 50px auto;
      grid-template-areas:
    "B B"
    "A C"
    "A D"
    "A E"
    "F F";
  -ms-grid-columns: 387px 470px;
  grid-template-columns: 387px 470px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 50px;
}

.info-block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
}

.info-item {
  max-width: 241px;
}

.product-options {
  margin-top: 60px;
}

.catalog-item-4 {
  display: none;
}

.catalog-item {
  width: 310px;
}

}


@media (min-width: 768px) and (max-width: 1000px) {
.content-container {
    width: 100%;
    padding: 0 20px;
}

.card-product-container {
  -ms-grid-rows: auto 50px auto 50px auto 50px auto 50px auto;
      grid-template-areas:
    "B B"
    "A F"
    "C C"
    "D D"
    "E E";
  -ms-grid-columns: 406px 245px;
  grid-template-columns: 406px 245px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 50px;
}

.info-block {
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 628px;
}

.info-item {
  max-width: 241px;
}

.product-options {
  margin-top: 60px;
}

.price-item {
  width: 426px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.accessories-container {
  width: 440px;
}

.accessories-container .total-sum-container {
  width: 728px;
}

.accessories-container .total-sum {
    margin-left: 112px;
}


.accessories-container .amount {
    width: 275px;
    height: 60px;
    margin-right: 20px;
    padding-left: 25px;
}

.catalog-item-4, .catalog-item-3 {
  display: none;
}

.catalog-item {
  width: 354px;
}

.catalog-items {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}


}


@media (min-width: 480px) and (max-width: 768px) {
.content-container {
    width: 100%;
    padding: 0 20px;
}

.card-product-container {
  -ms-grid-rows: auto 50px auto 50px auto 50px auto 50px auto;
      grid-template-areas:
    "B"
    "A"
    "C"
    "D"
    "E";
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 50px;
}

.info-block {
  display: none;
}

.product-image {
  width: 100%;
}

.product-options {
  margin-top: 60px;
}

.price-item {
  width: 405px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.accessories-container {
  width: 440px;
}

.accessories-container .total-sum {
    margin-left: 112px;
}


.accessories-container .amount {
    width: 275px;
    height: 60px;
    margin-right: 20px;
    padding-left: 25px;
}

.characteristics-container {
  width: 100%;
}

.product-price {
  width: 100%;
}


.catalog-item-4, .catalog-item-3, .catalog-item-2 {
  display: none;
}

.catalog-item {
  width: 354px;
}

.product-button-container {
  width: 100%;
}

.product-button {
  width: 210px;
}

.accessories-container .total-sum-container {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.accessories-container .product-button {
  width: 100%;
  margin-top: 30px;
}

.accessories-container .price-items-container {
  width: 100%;
}

.catalog-items {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}


.product-header h1 {
  font-size: 32px;
}

.bestsellers-header h1 {
  font-size: 26px;
}

.switches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
}

.bestsellers-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-items {
  height: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

}


@media (max-width: 480px) {

  .content-container {
      width: 100%;
      padding: 0 20px;
  }

  .card-product-container {
    -ms-grid-rows: auto 50px auto 50px auto 50px auto 50px auto;
        grid-template-areas:
      "B"
      "A"
      "C"
      "D"
      "E";
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 50px;
  }

  .info-block {
    display: none;
  }

  .product-image {
    width: 100%;
    height: 520px;
  }

  .product-image img {
    width: 200px;
  }

  .product-options {
    /* margin-top: 60px; */
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
    row-gap: 30px;
        grid-template-areas:
        "A"
        "B"
        "C"
        "D";
    height: auto;
    -ms-grid-rows: 38px 30px 88px 30px 43px 30px 68px;
    grid-template-rows: 38px 88px 43px 68px;
    -ms-grid-columns: 160px;
    grid-template-columns: 160px;
    width: auto;
  }

  .price-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .accessories-container {
    width: 100%;
  }

  .accessories-container .total-sum {
      margin-left: 0px;
  }


  .accessories-container .amount {
      /* width: 275px; */
      height: 60px;
      /* margin-right: 20px;
      padding-left: 25px; */
  }

  .characteristics-container {
    width: 100%;
  }

  .product-price {
    height: auto;
    width: 100%;
  }

  .price-item-name {
    width: 100%;
  }

  .product-price .price-item-name {
    margin-bottom: 15px;
  }

  .catalog-item-4, .catalog-item-3, .catalog-item-2 {
    display: none;
  }

  .catalog-item {
    width: 280px;
  }

  .product-button-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .product-button {
    width: 100%;
  }

  .white-button {
    margin-top: 30px;
  }

  .content-switcher {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .content-switcher div {
      width: 190px;
  }

  .characteristics  {
    margin-bottom: 40px;
  }
  .accessories-container .total-sum-container {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .accessories-container .product-button {
    width: 100%;
    margin-top: 30px;
  }

  .accessories-container .price-items-container {
    width: 100%;
  }

  .catalog-items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }


  .product-header h1 {
    font-size: 32px;
  }

  .bestsellers-header h1 {
    font-size: 26px;
  }

  .bestsellers-button {
    display: none;
  }

  .switches {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 120px;
  }

  .bestsellers-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .catalog-items {
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .characteristics-value p, .characteristics-items p {
    height: 40px;
  }

  .characteristics-value p {
    font-size: 16px;
  }

  .characteristics-value {
    margin-left: 15px;
  }
}
