@media (min-width: 1920px) {
  .background-container {
    width: 1920px;
  }

  .background-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1000px) and (max-width: 1920px) {

  .background-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }


  .background-container {
    width: 1000px;
  }

  .backgorund_top {
    width: 282px;
    padding-top: 700px;
    padding-bottom: 600px;
  }

  .backgorund__text {
    font-size: 90px;
  }

  .second-text {
    margin-left: 190px;
  }

  .backgorund_bottom {
    margin-top: 1804px;
    width: 460px;
    padding: 255px 0 0 31px;
  }

  .backgorund_bottom div {
    font-size: 64px;
  }

  .backgorund_bottom .backgorund__text {
    display: none;
  }

  .background_grey {
    height: 4251px;
  }

  .content-container{
    width: 1000px;
  }

  /* Блок 1 */

  .block1 {
    padding-left: 20px;
    width: 100%;
  }

  .block-pic-contianer {
    margin-right: 0px;
    width: 606px;
  }

  .block-text-container {
    margin-top: 45px;
  }

  /* .block-text-container .block-button { */
  .block-button a{
    width: 100%;
    text-align: center;
    padding-left: 25px;
  }

  /* Блок 2 */
  .horizontal-container {
    width: 636px;
  }

  /* Блок 3 */
  .pics-block {
    -ms-grid-columns: 334px 367px 282px;
    grid-template-columns: 334px 367px 282px;
    -ms-grid-rows:179px 406px 127px 167px;
    grid-template-rows:179px 406px 127px 167px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-top: 200px;
  }
  .pics-block > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .pics-block > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .pics-block > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .pics-block > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .pics-block > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .pics-block > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .pics-block > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .pics-block > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .pics-block > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .pics-block > *:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .pics-block > *:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .pics-block > *:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }

  .pics-block-item {
    background-size: cover;
  }

  .item-3 {
    background-position: left;
  }

  .pics-block-button {
    padding-left: 10px;
  }

  .block-button a {
    padding: 16px 0px;
    margin-left: 5px;
  }

  /* Блок 4 */

  .choose-us-pic, .pic-frame {
    width: 395px;
    height: 503px;
  }

  .choose-us-pic {
    margin: 0px;
    margin-top: 207px;
    margin-left: 45px;
  }

  .choose-us-content {
    padding-left: 20px;
    width: 453px;
  }

  .pic-frame {
    left: 64px;
    bottom: 56px;
  }

  /* Блок 5 */

  .catalog-items {
    overflow: hidden;
  }

  .catalog-item {
    margin-right: 5px;
  }

  .catalog-item:first-of-type {
    margin-left: 5px;
  }

  .bestsellers-block {
    padding: 0px 20px;
  }

  /* Блок 6 */

  .new-door-block {
    height: 1029px;
    background-image: url('../pic/main-page/block-background1000.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .new-door-block h1 {
    width: auto;
  }

  .new-door-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 700px;
    height: 506px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 134px;
  }

  /* Блок 7 */

  .installed-block {
    padding-left: 20px;
  }

  .installed-pic2 {
    width: 610px;
  }

  .installed-pics-container .pic-frame {
    width: 342px;
    height: 421px;
    left: 541px;
    bottom: 254px;
  }


  /* Блок 8 */

  .vendors-block {
    padding: 0px 20px;
  }

  .vendors-item4 {
    display: none;
  }

  .vendors-item1 {
    margin-right: 25px;
  }

}



@media (min-width: 768px) and (max-width: 1000px) {

.img1000, .img420, .img320 {
  display: none;
}

.img768 {
  display: block;
}

.background-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.background-container {
  width: 100%;
}

.backgorund_top {
  height: 3070px;
  width: 282px;
  padding-top: 789px;
  padding-bottom: 270px;
}

.backgorund__text {
  font-size: 110px;
}

.backgorund_bottom {
  display: none;
}

.background_grey {
  height: 4410px;
}

.content-container{
  width: 100%;
  padding-left: 22px;
}

/* Блок 1 */

.block-pic-contianer {
  margin-right: 0px;
}

/* Блок 2 */

.horizontal-container {
  width: 392px;
  height: 311px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Блок 3 */

.pics-block {
  height: auto;
      grid-template-areas:
  "A A A"
  "B C C"
  "B E E"
  "D D F";
  -ms-grid-columns: 43.5% 15.9% 40.6%;
  grid-template-columns: 43.5% 15.9% 40.6%;
  -ms-grid-rows: 159px 405px 295px 166px;
  grid-template-rows: 159px 405px 295px 166px;
}

  .item-1 {
    background-image: url('../pic/main-page/pics-block1_768.jpg');
  }

  .item-2 {
    background-image: url('../pic/main-page/pics-block2_768.jpg');
  }

  .item-3 {
    background-image: url('../pic/main-page/pics-block3_768.jpg');
  }

  .item-4 {
    background-image: url('../pic/main-page/pics-block4_768.jpg');
  }

  .link-3 {
    left: 203px;
    top: 60px;
  }

  .item-0 h1 {
    width: 448px;
  }

/* Блок 4 */

 .choose-us-pic {
   display: none;
 }

 .choose-us-content h1 {
   width: 420px;
 }

/* Блок 5 */

.switches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-items .catalog-item-3 {
  display: none;
}

.catalog-items>img {
  display: none;
}

.catalog-items {
  margin-right: 20px;
}

.catalog-item {
  width: 48%;
}

/* Блок 6 */


.new-door-block {
  margin-right: 20px;
  width: 98%;
  height: 944px;
  background-image: url('../pic/main-page/block-background768.jpg');
}

.new-door-block h1 {
  width: auto;
}

.new-door-items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 548px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Блок 7 */

  .installed-pics-container .pic-frame {
    display: none;
  }

  .installed-pics-container {
    width: 100%;
    padding-right: 20px;
    display: block;
  }

  .installed-pic1 img {
    width: 100%;
  }

  /* Блок 8 */

  .vendors-block {
    padding: 0px 20px;
  }

  .vendors-item4, .vendors-item3 {
    display: none;
  }

  .vendors-item1 {
    margin-right: 25px;
  }

  .vendors-items {
    margin-bottom: 35px;
  }

  .vendors-row {
    display: none;
  }


}



@media (min-width: 480px) and (max-width: 768px) {

  .img1000, .img768, .img320 {
    display: none;
  }

  .img480 {
    display: block;
  }

  .background-box {
    display: none;
  }

  .content-container {
    width: 100%;
    padding: 0px 20px;
  }

  h1 {
    font-size: 32px;
  }
/* Блок 1 */

  .block1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .block-pic-contianer {
    width: 100%;
  }

  .block-pic-contianer img {
    width: 100%;
  }

  .block-text-container {
    margin-top: 36px;
  }

  .block-text-container h1 {
    margin-bottom: 27px;
  }

  .block-text-container p {
    margin-bottom: 50px;
  }

  /* Блок 2 */

  .horizontal-container {
    width: 100%;
    max-width: 441px;
    height: 403px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  /* Блок 3 */

  .pics-block {
    width: 100%;
    height: auto;
        grid-template-areas:
    "A"
    "B"
    "C"
    "D"
    "E"
    "F";
    -ms-grid-columns: 100% ;
    grid-template-columns: 100% ;
    -ms-grid-rows: 120px 662px 405px 295px 374px 145px;
    grid-template-rows: 120px 662px 405px 295px 374px 145px;
  }

  .item-0 h1 {
    width: 389px;
  }

  .item-1 {
    background-image: url('../pic/main-page/pics-block1_768.png');
  }

  .item-2 {
    background-image: url('../pic/main-page/pics-block2_768.jpg');
  }

  .item-3 {
    background-image: url('../pic/main-page/pics-block3_480.jpg');
    grid-area: E;
  }

  .item-4 {
    background-image: url('../pic/main-page/pics-block4_768.jpg');
    grid-area: D;
  }

  .pics-block-button {
    height: 145px;
  }

  /* Блок 4 */

  .choose-us-pic {
    display: none;
  }

  .choose-us-item {
    width: 100%;
  }

  /* Блок 5 */

  .switches {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }

  .catalog-item-3, .catalog-item-2 {
    display: none;
  }

  .catalog-items>img {
    display: none;
  }

  .catalog-items {
    margin-right: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .catalog-item {
    width: 70%;
  }

  /* Блок 6 */

  .new-door-block {
    /* margin-right: 20px;
    width: 100%; */
    height: 1423px;
    padding-left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url('../pic/main-page/block-background480.png');
  }


  .new-door-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 1020px;
    width: 235px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .new-door-item {
    margin-right: 0px;
  }

  .new-door-block .block-button {
    margin-right: 0px;
  }

/* Блок 7 */

.installed-pics-container .pic-frame {
  display: none;
}

.installed-pics-container {
  width: 100%;
  display: block;
}

.installed-pic1 img {
  width: 100%;
}

/* Блок 8 */

/* .vendors-block {
  padding: 0px 20px;
} */

.vendors-item4, .vendors-item3 {
  display: none;
}

/* .vendors-item1 {
  margin-right: 25px;
} */

.vendors-items {
  margin-bottom: 35px;
}

.vendors-row {
  display: none;
}

.vendors-item1 {
  width: 49%;
}

.vendors-item2 {
  width: 36%;
}

.background_grey {
  height: 5230px;
}

}

@media (max-width: 480px) {

    /* !!!Убрать */

    .content-block {
      display: none;
    }

    .unhidden {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    /* ///// */



    .img1000, .img768, .img480 {
      display: none;
    }

    .img320 {
      display: block;
    }

    .background-box {
      display: none;
    }

    .content-container {
      width: 100%;
      padding: 0px 20px;
    }

    h1 {
      font-size: 32px;
    }

    /* Блок 1 */


    .block1 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
    }

    .block-pic-contianer {
      width: 100%;
    }

    .block-pic-contianer img {
      width: 100%;
    }

    .block-text-container {
      width: 100%;
      margin-top: 36px;
    }

    .block-text-container h1 {
      margin-bottom: 27px;
    }

    .block-text-container p {
      margin-bottom: 50px;
    }

    .block-button {
      width: 100%;
    }

    .block-button a {
      text-align: center;
    }

    /* Блок 2 */

    .horizontal-container {
      width: 100%;
      max-width: 256px;
      /* height: 564px; */
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }

    .about-us-item {
      margin-bottom: 40px;
    }

    /* Блок 3 */

    .pics-block {
      width: 100%;
      height: auto;
          grid-template-areas:
      "A"
      "B"
      "C"
      "D"
      "E"
      "F";
      -ms-grid-columns: 100% ;
      grid-template-columns: 100% ;
      -ms-grid-rows: 161px 420px 289px 221px 325px 145px;
      grid-template-rows: 161px 420px 289px 221px 325px 145px;
    }

    .item-0 h1 {
      max-width: 220px;
    }

    .item-1 {
      background-image: url('../pic/main-page/pics-block1_768.png');
    }

    .item-2 {
      background-image: url('../pic/main-page/pics-block2_768.jpg');
    }

    .item-3 {
      background-image: url('../pic/main-page/pics-block3_480.jpg');
      grid-area: E;
    }

    .item-4 {
      background-image: url('../pic/main-page/pics-block4_768.jpg');
      grid-area: D;
    }

    .pics-block-button {
      height: 145px;
    }

    .link-1 {
      left: 48px;
      top: 55px;
    }

    .link-2 {
      left: 144px;
      top: 141px;
    }

    .link-4 {
      left: 109px;
      top: 114px;
    }

    .link-3 {
      left: 107px;
      top: 138px;
    }

    .item-3 {
      background-image: url('../pic/main-page/pics-block3_320.png');
    }

    .block-button a {
      padding: 0;
      padding-top: 15px;
    }

    .pics-button-logo-container {
      margin-right: 5px;
    }

    /* Блок 4 */

    .choose-us-pic {
      display: none;
    }

    .choose-us-item {
      width: 100%;
    }
      /* !!!!!!! Чтобы не рсаширялось */
    .link-block {
      width: auto;
    }

    h3 {
      font-size: 24px;
    }

    /* Блок 5 */

    .bestsellers-block {
      margin-top: 30px;
    }

    .switches {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 10px;
    }

    .catalog-item-3, .catalog-item-2 {
      display: none;
    }

    .catalog-items>img {
      display: none;
    }

    .catalog-items {
      /* margin-right: 20px; */
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

    .catalog-item {
      width: 87%;
    }

    .catalog-price {
      width: 78%;
    }

    /* Блок 6 */

    .new-door-block h1 {
        max-width: 280px;
        margin-left: 40px;
    }

    .new-door-block {
      height: 1378px;
      padding-left: 0px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-image: url('../pic/main-page/block-background480.png');
    }


    .new-door-items {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 235px;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

    .new-door-item {
      margin-right: 0px;
      margin-top: 45px;
    }

    .new-door-block .block-button {
      margin-right: 0px;
      width: 75%;
      text-align: center;
    }

    .new-door-text p {
      font-size: 18px;
    }

    /* Блок 7 */

    .installed-pics-container .pic-frame {
      display: none;
    }

    .installed-pics-container {
      width: 100%;
      display: block;
    }

    .installed-pic1 img {
      width: 100%;
    }

    .installed-block {
      margin-top: 80px;
    }

    /* Блок 8 */

    .vendors-item4, .vendors-item3, .vendors-item2 {
      display: none;
    }

    .vendors-items {
      margin-bottom: 35px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

    .vendors-items img {
      width: 80%;
    }
    .vendors-row {
      display: none;
    }

    .vendors-item1 {
      width: 49%;
    }

    .vendors-item2 {
      width: 36%;
    }

    .background_grey {
      height: 5695px;
    }

    .item-3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    }

    .item-4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    }

}

@media (min-width: 768px) and (max-width: 999px) {

.item-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
}

.item-4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
}

.item-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
}

.item-4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
}

}

@media (min-width: 480px) and (max-width: 767px) {

  .item-3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .item-4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .item-3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .item-4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

}

@media (max-width: 480px) {

    .item-3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    }

    .item-4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    }

}


@media (min-width: 650px) and (max-width: 767px) {
  .background_grey {
      height: 5967px;
  }
}

@media (min-width: 530px) and (max-width: 650px) {
  .background_grey {
      height: 5625px;
  }
}

@media (min-width: 480px) and (max-width: 530px) {
  .background_grey {
      height: 5274px;
  }
}

@media (max-width: 390px) {
  .background_grey {
      height: 5500px;
  }
}

  /*  */
