.page-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container {
  width: 1420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 45px;
  color: #595146;
  margin-bottom: 11px;
}

.content-container p {
  font-weight: 400;
  font-size: 20px;
  color: #595146;
}

.text-container>p{
  margin-bottom: 30px;
}

.thank-button {
  width: 217px;
  height: 52px;
  background-color: #BF9D5B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.thank-button p {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
}

.thank-button a {
  display: block;
  position: absolute;
  width: 217px;
  height: 52px;
}
